<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="bg-dark">
                <tr class="text-white">
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
               <tr>
                <td>{{ colonia }}</td>
                <td> capitalizado </td>
                <td> {{ colonia | capitalizado }}</td>
                 </tr>
            </tbody>
        </table>
    </div>
</div>
